@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  img {
    vertical-align: middle;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
  h1,
  h2,
  h3,
  h5,
  h4,
  h6,
  span,
  div,
  a,
  img {
    margin: 0;
    padding: 0;
  }
}
